<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="LogFilePath" value="Events.log"/>

		<add key="SmtpServer" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpEnableSsl" value="true"/> <!--if no ssl is needed set value="false"-->
		<add key="SmtpUsername" value="smtp.gmail.com"/>
		<add key="SmtpPassword" value="smtp.gmail.com"/>

		<add key="MailTo" value="mail1@isp.gr, mail2@isp.com"/>
		<add key="MailCc" value="mail1@isp.gr, mail2@isp.com"/>
		<add key="MailBcc" value="mail1@isp.gr, mail2@isp.com"/>

		<add key="IpServices" value="http://llouk.info/ip/ip.php,
									 https://wtfismyip.com/text"/>

		<add key="SendMailOnlyOnIpChange" value="false"/> <!--if you want to send mail only your IP Address has been changed set value="true"-->
	</appSettings>
</configuration>